@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

body {
    background-color: black;
    color: #fff;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
a {
    text-decoration: none;
}
.adam-boxing-logo{
    width: 300px;
}
.create-account{
    float: right;
    font-size: 26px;
     color:white;
     text-decoration: none;
}

.boxing-word{
    color: #fff;
}
.login-to-me {
    color: rgba(255,64,87,255);
    font-family: 'Source Code Pro', monospace;
}
.login-text{
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-family: 'Noto SerifKR', serif;
  }
  
  input[type="text"], input[type="password"] {
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .login-to-me:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255,64,87,255);
  }
  .sign-up-message {
    display: flex;
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .sign-up-message a {
    color: rgba(255,64,87,255);
    text-decoration: none;
    margin-left: 5px;
  }
  
  .sign-up-message a:hover {
    text-decoration: underline;
    text-decoration-color:#ffffff ;
  }
  
  button[type="submit"] {
    background-color: rgba(255,64,87,255);
    color: #ffffff;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  button:hover{
    background-color: #ffffff;
    color: rgba(255,64,87,255);
  }
  .forgot-password {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
  }